.App {
  text-align: center;
  margin-top: 0;
  background: #0b0c10;
  margin-left: 150px;
  margin-right: 150px;
}

/* custom css */
.pageTitle {
  margin-top: 0;
}

.bannerTxt {
  font-family: "Permanent Marker", cursive;
  font-size: 100px;
  color: #66fcf1;
}
